body {
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: Black;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 10px;
	
}

/*************************************************************/
/********************* Header Styles ************************/
/************************************************************/
header {
	background-image: url(../images/header_back.png);
	width: 960px;
	height: 317px;
}
header h1 {
	font-size: 40px;
	color: DarkRed;
	padding: 225px 0 0 60px;
	font-family: 'Berkshire Swash', cursive;
}
header h1 a:link{
	text-decoration: none;
	color: DarkRed;
}
header h1 a:visited{
	color: DarkRed;
}
			/*************************************************/
			/*************** Primary Nav Styles **************/
			/************************************************/
header nav {
	padding: 0 0 0 60px;
	margin: 15px 0 0 0;
	/*border: 1px solid green;*/
}
header nav li {
	display: inline;
	padding: 0 20px 0 20px;
	/*border: 1px solid red;*/
}
header nav a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}
header nav a:hover {
	color: Red;
}
/*header hr.hrstyle1 {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}*/

#container {
	background-image: url(../images/cont_back.png);
	background-repeat: repeat-y;
}

/*************************************************************/
/*********************** Main Styles ************************/
/************************************************************/
main {
	margin: 0 0 0 45px;
	padding: 20px 15px 20px 15px;
	width: 620px;
	float: left;
	/*border: 1px solid black;*/
}
main h2 {
	font-size: 17px;
	/*font-family: 'Merienda', cursive;*/
	font-weight: bold;
	padding: 0 0 5px 0;
}
			/*************************************************/
			/***************** Article Styles ****************/
			/************************************************/
article h3.blog_title {
	font-family: 'Merienda', cursive;
	font-weight: bold;
	font-size: 17px;
	color: DarkRed;
}
article h3.blog_title a {
	color: DarkRed;
	text-decoration: none;
}
article h3.blog_title a:hover {
	color: Red;
}
article .postmeta {
	font-size: 12px;
	padding: 3px 0;
}
article .post_body {
	/*border: 1px solid green;*/
	padding-bottom: 20px;
}




			/*************************************************/
			/****************** Form Styles *****************/
			/************************************************/
label{
	display: block;
}

/*************************************************************/
/*********************** Aside Styles ************************/
/************************************************************/
aside {
	/*margin: 0 0 0 700px;*/
	padding: 20px 0 0 40px;
	margin-left: 700px;
	/*float: left;*/
	/*border: 1px solid blue;*/
}

.skullbullet {
	list-style-image: url(../images/bullet.png);
}
.skullbullet a {
	font-family: 'Merienda', cursive;
	font-weight: bold;
	color: DarkRed;
	text-decoration: none;	
}








footer{
	background-image: url(../images/footer_back.png);
	width: 960px;
	height: 221px;	
}

/*************************************/
/************* clear fix *************/
/*************************************/
.cf:before, 
.cf:after {
	content: "";
	display: block;
}
.cf:after {
	clear: both;	
}
.cf {
	zoom: 1; /* for old ie (trigger has layout) */	
}