body {
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: Black;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 10px;
	
}

/*************************************************************/
/********************* Header Styles ************************/
/************************************************************/
header {
	background-image: url(../images/header_back.png);
	width: 960px;
	height: 317px;
}
header h1 {
	font-size: 40px;
	color: DarkRed;
	padding: 225px 0 0 60px;
	font-family: 'Berkshire Swash', cursive;
}
header h1 a:link{
	text-decoration: none;
	color: DarkRed;
}
header h1 a:visited{
	color: DarkRed;
}
			/*************************************************/
			/*************** Primary Nav Styles **************/
			/************************************************/
header nav {
	padding: 0 0 0 60px;
	margin: 15px 0 0 0;
	/*border: 1px solid green;*/
}
header nav li {
	display: inline;
	padding: 0 20px 0 20px;
	/*border: 1px solid red;*/
}
header nav a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}
header nav a:hover {
	color: Red;
}
.home .home a { /*body class, li*/
	color: red;
}
.blog .blog a {
	color: red;
}
.links .links a {
	color: red;
}
#container {
	background-image: url(../images/cont_back.png);
	background-repeat: repeat-y;
}

/*************************************************************/
/******************** Search Bar Styles **********************/
/************************************************************/


			/*************************************************/
			/*************** Search Form Styles **************/
			/************************************************/
#searchform {
	padding: 0 0 0 738px;
	display: inline;
	position: relative;
}
.visually-hidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#searchbtn {
	background-color: transparent;
	cursor: pointer;
	border: 0px;
	position: absolute;
	top:10%;
	left:96%;
}

			/*************************************************/
			/************ Search Results Styles **************/
			/************************************************/
#search_results_list {
	padding: 10px 0;
}
article.post a {
	color: DarkRed;
	text-decoration: none;
	font-family: 'Merienda', cursive;
}
article.post a:hover {
	color: red;
}
article.post{
	padding: 0 0 10px 25px;
}
article.post .searchsnippet a{
	font-family: Trebuchet MS;
	font-size: 14px;
	text-decoration: underline;
}
			/*************************************************/
			/************ Search Footer Styles **************/
			/************************************************/

.button {
	color: DarkRed;
	padding: .25em;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.button:hover{
	color: red;
}
.disabled.button {
	color: BurlyWood;
	font-size: 14px;
	font-weight: normal;
}

/*************************************************************/
/*********************** Main Styles ************************/
/************************************************************/
main {
	margin: 0 0 0 45px;
	padding: 20px 15px 20px 15px;
	width: 620px;
	float: left;
	/*border: 1px solid black;*/
}
main h2 {
	font-size: 17px;	
	font-weight: bold;
	padding: 0 0 5px 0;
}
			/*************************************************/
			/***************** Article Styles ****************/
			/************************************************/
article h3.blog_title {
	font-family: 'Merienda', cursive;
	font-weight: bold;
	font-size: 17px;
	color: DarkRed;
}
article h3.blog_title a {
	color: DarkRed;
	text-decoration: none;
}
article h3.blog_title a:hover {
	color: Red;
}
article .postmeta {
	font-size: 12px;
	padding: 3px 0;
}
article .post_body {
	/*border: 1px solid green;*/
	padding-bottom: 20px;
}

			/*************************************************/
			/**************** Comments Styles ****************/
			/************************************************/
#comments h3 {
	padding-bottom: 5px;
}
#comments ol {
	padding-left: 50px;
}
#comments li {
	padding-bottom: 10px;
}
#comments time {
	font-size: 12px;
}

			/*************************************************/
			/********* Comment Input Form Styles ************/
			/************************************************/
label {
	display: block;
}
input {
	border: 1px solid BurlyWood;
}
textarea {
	border: 1px solid BurlyWood;
}
#commentform h3	{
	padding-top: 10px;
}
#postbtn { /*input[type="submit"] {*/
    border: 0;
    background: url('../images/post_btn.png') no-repeat;
    text-indent: -9999em;
    width: 74px;
    height: 72px;
    cursor: pointer;
}

/*************************************************************/
/*********************** Aside Styles ************************/
/************************************************************/
aside {
	padding: 20px 0 0 40px;
	margin-left: 700px;
}
aside h2 {
	font-size: 16px;
	padding: 18px 0 5px 0;
}
aside li {
	font-size: 12px;
	padding-bottom: 3px;
}
.rss {
	font-family: 'Merienda', cursive;
}
.rss a {
	color: DarkRed;
	text-decoration: none;
}
.rss a:hover {
	color: red;
}

			/*************************************************/
			/***************** Bullet Styles *****************/
			/************************************************/
.skullbullet {
	list-style-image: url(../images/bullet.png);
}
.skullbullet a {
	font-family: 'Merienda', cursive;
	font-weight: bold;
	color: DarkRed;
	text-decoration: none;	
}
.skullbullet a:hover {
	color: red;
}


/*************************************************************/
/********************** Footer Styles ***********************/
/************************************************************/
.mainfooter{
	background-image: url(../images/footer_back.png);
	width: 960px;
	height: 221px;	
}
.mainfooter p {
	padding-top: 68px;
	text-align: center;
	font-size: 12px;
}
.mainfooter a {
	color: DarkRed;
	text-decoration: none;
}
.mainfooter a:hover {
	color: red;
}			

/*************************************/
/************* clear fix *************/
/*************************************/
.cf:before, 
.cf:after {
	content: "";
	display: block;
}
.cf:after {
	clear: both;	
}
.cf {
	zoom: 1; /* for old ie (trigger has layout) */	
}